{% extends 'base.html'%}

{% block body %}

<div class="row">
  {% for book in books %}
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      <!--<img src="..." alt="...">-->
      <div class="caption">
        <h3>{{book.title}}</h3>
        <p>Autor: {{book.author}}</p>
        <p>Cena: {{book.price}}</p>
        <p>Liczba: {{book.stock}}</p>
        <p>Rok wydania: {{book.year}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Kup</a></p>
      </div>
    </div>
   </div>
  {% endfor %}
</div>

{% endblock %}