{% extends 'base.html'%}

{% block body %}

<style>
.shoe-picture{
width: 100%;
}

.btn{
margin-top: 10px;
}

</style>
<div class="row">
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      {% load static %}
      <img class="shoe-picture" src={{shoe.picture.url}} />

    </div>
   </div>
   <div class="col-sm-6 col-md-4">
     <div class="caption">
        <h1>{{shoe.brand_model}}</h1>

        <p><b>Cena:</b> {{shoe.price}}</p>
        <form method = "post" action = "{% url 'add_to_cart' shoe.id 1 %}">
        {% csrf_token %}
        <label for="sel1">Rozmiar:</label>
          <select class="form-control" id="sel1" name="selectedSize">
            {% for size in sizes %}
                <option>{{size.size}}</option>
            {% endfor %}
          </select>
        <input class="btn btn-primary" type = "submit" value="Dodaj do koszyka">
        </form>
      </div>
   </div>
</div>

<p><b>Opis:</b>  {{shoe.description}}</p>

{% endblock %}

