{% extends 'base.html'%}

{% block body %}

<style>
.shoe-picture{
width: 100%;
}

</style>
<div class="row">
  {% for shoe in shoes %}
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      {% load static %}
      <a href="{% url 'pickedShoe' shoe.id %}">
        <img class="shoe-picture" src={{shoe.picture.url}} />
      </a>
      <div class="caption">
        <h3>{{shoe.brand_model}}</h3>
        <p>Cena: {{shoe.price}}</p>
      </div>
    </div>
   </div>
  {% endfor %}
</div>

{% endblock %}