{% extends 'base.html'%}

{% block body %}

<style>
.shoe-picture{
width: 100%;
}

</style>
<div class="row">
  {% for shoe in shoes %}
  <div class="col-sm-6 col-md-4">

    <div class="thumbnail">
      <!--<img src="..." alt="...">-->
      <div class="caption">
        <h3>{{shoe.brand_model}}</h3>
        {% load static %}
        <img class="shoe-picture" src={{shoe.picture.url}} />
        <p>Opis: {{shoe.description}}</p>
        <p>Cena: {{shoe.price}}</p>
        <p>Rozmiar: {{shoe.size}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Kup</a></p>
      </div>
    </div>
   </div>
  {% endfor %}
</div>

{% endblock %}